<!DOCTYPE html>
<html lang="ru">
<head>
    <title name="pageTitle">@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common_style.css">
    <link rel="stylesheet" href="~/css/light_style.css" />
</head>
<body>
    <div class="flex-container">
        <div class="my-row">
            <div class="standard-container rounded">
                <div class="page-header">
                    <label name="pageTitle" class="text-logo">@ViewData["Title"]</label>
                </div>
                <hr>
                <main role="main">
                    @RenderBody()
                </main>
                <br>
                <div class="page-footer">
                    <label class="text-copy">Боги опросов &#169; 2021</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
