@{ ViewData["Title"] = "Панель управления"; }

<div class="buttons">
    <div class="btn-container">
        @if (!(bool)ViewData["NoActivePoll"])
        {
            <div class="btn-common" onclick="location.href='@Url.Action("PollControl", "Poll")'">
                <label class="btn-text">Управление активным опросом</label>
            </div>
        }
        <div class="btn-common" onclick="location.href='@Url.Action("AddNew", "Poll")'">
            <label class="btn-text">Добавить новый опрос</label>
        </div>
        <div class="btn-common" onclick="location.href='@Url.Action("ShowAll", "Poll")'">
            <label class="btn-text">Просмотр результатов</label>
        </div>
        <div class="btn-common" onclick="location.href='@Url.Action("ActivePoll", "Poll")'">
            <label class="btn-text">Назад к опросу</label>
        </div>
    </div>
</div>