@{ ViewData["Title"] = "Панель управления"; }

<div class="buttons">
    <div class="btn-container">
        <div class="btn-common" onclick="location.href=''">
            <label class="btn-text">Управление текущим опросом</label>
        </div>
        <div class="btn-common" onclick="location.href='AddNewPoll'">
            <label class="btn-text">Добавить новый опрос</label>
        </div>
        <div class="btn-common" onclick="location.href='ShowAll'">
            <label class="btn-text">Просмотр результатов</label>
        </div>
        <div class="btn-common" onclick="location.href='GoBack'">
            <label class="btn-text">Назад к опросу</label>
        </div>
    </div>
</div>