@{ ViewData["Title"] = "Панель управления"; }

<div class="buttons">
    <div class="btn-container">
        <div class="btn-common">
            <label class="btn-text" onclick="location.href=''">Управление текущим опросом</label>
        </div>
        <div class="btn-common">
            <label class="btn-text" onclick="location.href=''">Добавить новый опрос</label>
        </div>
        <div class="btn-common">
            <label class="btn-text" onclick="location.href=''">Просмотр результатов</label>
        </div>
        <div class="btn-common">
            <label class="btn-text" onclick="location.href='GoBack'">Назад к опросу</label>
        </div>
    </div>
</div>