@{ ViewData["Title"] = "Настройки сервиса"; }

@{
    var departments = (string)ViewData["Departments"];
}

<div class="question" style="font-size: 150%;">
    Подразделения
</div>
<textarea name="Question" class="login-form-input" style="height: 15vh">@departments</textarea>
<br>
<div class="question" style="font-size: 150%;">
    Список HR и РП
</div>
<div class="user-role-select">
    <label class="question">Имя: hr Роль:</label>
    <select>
        <option selected>HR</option>
        <option>РП</option>
        <option>Пользователь</option>
    </select>
</div>
<div class="user-role-select">
    <label class="question">Имя: head Роль:</label>
    <select>
        <option>HR</option>
        <option selected>РП</option>
        <option>Пользователь</option>
    </select>
</div>
<hr>
<div class="btn-container">
    <div class="btn-common">
        <label class="btn-text" type="submit">Сохранить</label>
    </div>
</div>
