@{ ViewData["Title"] = "Настройки сервиса"; }

<!-- Departments section -->
<div class="question" style="font-size: 150%;">Подразделения</div>
<div id="departments"></div>
<div>
    <input id="newDeptName" type="text" placeholder="Введите название" />
    <a onclick="appendDepartmentFromInput()">добавить</a>
</div>
<div class="btn-container" onclick="updateDepartments()">
    <div class="btn-common">
        <label class="btn-text">Сохранить</label>
    </div>
</div>

<hr>

<!-- Users section -->
<div class="question" style="font-size: 150%;">Пользователи без подразделений</div>
<div class="users-table">
    <table id="usersTable">
        <tr id="header">
            <th>Пользователь</th>
            <th>Подразделение</th>
        </tr>
    </table>
    <div class="btn-container" onclick="updateUsers()">
        <div class="btn-common">
            <label class="btn-text">Сохранить</label>
        </div>
    </div>
</div>

<hr>

<!-- Roles section -->
<div class="question" style="font-size: 150%;">Список HR и РП</div>
<div class="users-table">
    <table id="table">
        <tr>
            <th>Пользователь</th>
            <th>Роль</th>
        </tr>
        <tr id="lastRow">
            <td>
                <input id="username" type="text" onclick="this.select()" />
            </td>
            <td>
                <select id="roleSelect">
                    <option value="1" selected>Пользователь</option>
                    <option value="2">РП</option>
                    <option value="3">HR</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="btn-container" onclick="appendToTable()">
        <div class="btn-common">
            <label class="btn-text">Добавить пользователя</label>
        </div>
    </div>
</div>

<hr>

<div class="btn-container">
    <div class="btn-common">
        <label class="btn-text">Сохранить</label>
    </div>
</div>

<script src="~/js/Service/service.js"></script>