@{ ViewData["Title"] = "Настройки сервиса"; }

<!-- Departments section -->
<div class="settings-label" style="font-size: 150%;">Подразделения</div>
<div class="settings-section">
    <div id="departments" class="settings-section"></div>
    <div>
        <input id="newDeptName" type="text" placeholder="Введите название" />
        <a onclick="appendDepartmentFromInput()">добавить</a>
    </div>
    <div class="btn-container" onclick="updateDepartments()">
        <div class="btn-common">
            <label class="btn-text">Сохранить</label>
        </div>
    </div>
</div>

<hr>

<!-- Roles section -->
<div class="settings-label" style="font-size: 150%;">Список HR и РП</div>
<div class="settings-section">
    <table id="table">
        <tr>
            <th>Пользователь</th>
            <th>Роль</th>
        </tr>
        <tr id="lastRow">
            <td>
                <input id="username" type="text" onclick="this.select()" />
            </td>
            <td>
                <select id="roleSelect">
                    <option value="1" selected>Пользователь</option>
                    <option value="2">РП</option>
                    <option value="3">HR</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="btn-container">
        <a onclick="appendUserToTable()">Добавить пользователя</a>
        <div class="btn-common" onclick="submitRoles()">
            <label class="btn-text">Сохранить изменения</label>
        </div>
    </div>
</div>

<script src="~/js/Service/service.js"></script>