@{
    ViewData["Title"] = "Вход";
}

@model EasyPoll.ViewModels.LoginViewModel
<form method="post" action="/Authentification/Login">
    <input name="Username" class="login-form-input" type="text" placeholder="Логин" />
    <input name="Password" class="login-form-input" type="password" placeholder="Пароль" />
    @if ((bool)ViewData["ModelInvalid"])
    {
        <label class="label-center label-warning mb-0">Неверный логин или пароль!</label>
    } 
    else { 
        <br>
    }
<div class="btn-container">
    <input class="btn-common" value="Войти в систему" type="submit" />
    <a class="" href="/Authentification/Register">Регистрация</a>
</div>
</form>