@{
    ViewData["Title"] = "Вход";
}

@model EasyPoll.ViewModels.LoginViewModel
<form method="post" action="/Authentification/Login">
    <input name="Username"
           class="form-control form-control-lg mb-1"
           type="text"
           placeholder="Логин" />
    <input name="Password"
           class="form-control form-control-lg"
           type="password"
           placeholder="Пароль" />
    @if ((bool)ViewData["ModelInvalid"])
    {
        <label class="label-center label-warning mb-0">Неверный логин или пароль!</label>
    } 
    else { 
        <br>
    }
    <table class="buttons-table">
        <tr>
            <td>
                <a class="btn btn-register btn-common rounded-circle" title="Зарегистрироваться" href="/Authentification/Register"></a>
            </td>
            <td>
                <input class="btn btn-login btn-common rounded-circle" title="Войти" type="submit" value="" />
            </td>
        </tr>
    </table>
</form>