@{
    ViewData["Title"] = "Вход";
}

@model EasyPoll.ViewModels.LoginViewModel
<form method="post" action="/Authentification/Login">
    <input name="Username" class="login-form-input" type="text" placeholder="Логин" />
    <input name="Password" class="login-form-input" type="password" placeholder="Пароль" />
    @if ((bool)ViewData["ModelInvalid"])
    {
        <div class="login-warning-wrapper">
            <label class="login-warning">Неверный логин или пароль!</label>
        </div>
    } 
    else 
    { 
        <br>
    }
    <input type="submit" style="display: none" />
    <div class="btn-container">
        <div class="btn-common" onClick="this.parentNode.parentNode.submit();">
            <label class="btn-text" type="submit">Войти в систему</label>
        </div>
        <a class="" href="/Authentification/Register">Регистрация</a>
    </div>
</form>