@{ ViewData["Title"] = "Регистрация"; }

<form id="registrationForm" method="post" action="@Url.Action("Register")">
    <input id="username"
           name="Username"
           class="login-form-input"
           type="text"
           placeholder="Логин" />
    <input id="email"
           name="Email"
           class="login-form-input"
           type="email"
           placeholder="Aдрес электроной почты" />
    <input id="password"
           name="Password"
           class="login-form-input"
           type="password"
           placeholder="Пароль" />
    <input id="rePassword"
           name="RePasword"
           class="login-form-input"
           type="password"
           placeholder="Повтор пароля" />
    <hr>
    <label class="question">Выберите подразделение:</label>
    <select id="department" name="DepartmentId" class="login-form-input">
        @{ 
            foreach (var dept in (EasyPoll.Models.DepartmentModel[])ViewData["Departments"])
            {
                <option value="@dept.Id">@dept.Name</option>
            }
        }
    </select>

    <div id="errorList" class="login-warning-wrapper"></div>

    <div class="btn-container">
        <div class="btn-common" onclick="validateAndSend()">
            <label class="btn-text">Зарегистрироваться</label>
        </div>
    </div>
</form>
<script src="~/js/Registration/registration.js"></script>