@import url("../fonts/Montserrat/Montserrat.css");

html, body {
    height: 100%;
}

body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #E9ECEE;
    font-family: 'Montserrat';
    color: #0F2232;
}

a {
    color: #FF0000;
}

a:hover {
    color: #0F2232;
    text-decoration: none;
    transition: 0.6s ease-out;
}

.page-footer,
.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: overlay;
}

.my-row {
    width: 50%;
    margin: 1vh;
}

.standard-container {
    border: 1px solid #293240;
    height: auto;
    padding: 5%;
    background-color: #FFFFFF;
}

.login-form-input {
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 20px;
    border: 1px solid;
}

.login-warning-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0;
}

.login-warning {
    color: #FF0000;
}

.text-logo {
    font-size: 300%;
}

.text-copy {
    font-size: 120%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-common {
    display: flex;
    text-align: center;
    background-color: #FF0000;
    margin: 5px;
    padding: 10px;
    height: fit-content;
    border-radius: 1.5rem;
    border-width: 0;
    border-color: #FF0000;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.btn-common:hover {
    background-color: #293240;
}

.btn-text {
    font-weight: bold;
    color: #FFFFFF;
    cursor: inherit;
    margin: 0 10px;
}

.question {
    font-size: 100%;
    text-align: center;
}

.answer-box-active,
.answer-box {

}

.answer-box:hover,
.answer-box-active:hover {

}

.answer-bar {
    background-color: #E9ECEE;
    height: 30px;
}

.answer-bar-result {
    height: inherit;
    background-color: #FFA6A6;
}

.answer-text {
    margin: 3px 0 0 0;
    cursor: default;
    font-size: 1em;
}

a.answer-text:hover::after {
    content: " проголосовать";
    font-size: 0.75rem;
    color: #808080;
}