@import url("../fonts/Montserrat/Montserrat.css");

a {
    color: #FF0000;
}

a:hover {
    color: #0F2232;
    text-decoration: none;
    transition: 0.6s ease-out;
}

.standard-container {
    background-color: #FFFFFF;
}

.text-logo {
    font-size: 300%;
}

.text-copy {
    font-size: 120%;
}

.btn-common {
    transition: 0.6s ease-out;
}

.btn-common:hover {
    background-color: #293240;
}

.answer-box-active,
.answer-box {

}

.answer-box-active,
.answer-box-active-selected
{
    width: fit-content;
}

.answer-box-active-selected {
    background-color: #FF0000;
    color: #FFFFFF;
    transition: 0.6s ease-out;
}

.answer-box:hover,
.answer-box-active:hover {

}

.answer-bar {
    background-color: #E9ECEE;
}

.answer-bar-result {
    background-color: #FFA6A6;
}

.answer-text,
.answer-text-selected {
    cursor: default;
}

.answer-box-active:hover::after {
    content: " выбрать";
    font-size: 0.75rem;
    color: #808080;
}

.poll-summary-current {
    border-color: #FF0000;
}

.poll-summary-current:hover,
.poll-summary:hover {
    background-color: #FFA6A6;
}