@import url("../fonts/Montserrat/Montserrat.css");

a {
    color: #FF0000 !important;
    cursor: pointer;
}

a:hover {
    color: #0F2232 !important;
    text-decoration: none !important;
    transition: 0.6s ease-out !important;
    cursor: pointer;
}

.standard-container {
    background-color: #FFFFFF;
}

.text-logo {
    font-size: 300%;
}

.text-copy {
    font-size: 120%;
}

.btn-common {
    transition: 0.6s ease-out;
}

.btn-common:hover {
    background-color: #293240;
}

.answer-box-active,
.answer-box {

}

.answer-box,
.answer-box-active,
.answer-box-active-selected {
    padding: 1rem;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    outline: 1px solid #000000;
}

.answer-box-active-selected {
    outline: 3px solid #FF0000;
    background: rgba(255, 0, 0, 0.1);
    transition: 0.15s ease-out;
}

.answer-box-active:hover {
    outline: 1px solid #FF0000;
}

.answer-bar {
    background-color: #E9ECEE;
}

.answer-bar-result {
    background-color: #FFA6A6;
}

.answer-bar-result-active {
    background-color: #FF0000;
    height: inherit;
}

.answer-text,
.answer-text-selected {
    color: inherit!important;
    cursor: default;
}

a.answer-text:hover {
    color: inherit!important;
}

.poll-summary-current {
    border-color: #FF0000;
}

.poll-summary-current:hover,
.poll-summary:hover {
    background-color: #FFA6A6;
}