@import url("../fonts/Montserrat/Montserrat.css");

html, body {
    height: 100%;
}

body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #E9ECEE;
    font-family: 'Montserrat';
    color: #0F2232;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: overlay;
}

.my-row {
    width: 50%;
    margin: 1vh;
}

.standard-container {
    border: 1px solid #293240;
    height: auto;
    padding: 2%;
    background-color: #FFFFFF;
}

.login-form-input {
    width: 100%;
    height: 3rem;
    margin: 5px 0 5px 0;
    padding: 0px 5%;
    border: 1px solid;
}

.label-center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.label-warning {
    color: red;
}

.text-logo {
    font-size: 300%;
}

.text-copy {
    font-size: 120%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-common {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0000;
    margin: 5px;
    padding: 10px;
    height: 3rem;
    border-radius: 1.5rem;
    border-width: 0;
    border-color: #FF0000;
    transition: 0.5s ease-out;
}

.btn-common:hover {
    color: #FFFFFF;
    background-color: #FF4346;
    text-decoration: none;
}

.question {
    font-size: 100%;
    text-align: center;
}

.answer-box {

}

.answer-bar {
    background-color: #E9ECEE;
    height: 30px;
    margin: 1px;
}

.answer-bar-result {
    height: inherit;
    background-color: #FFA6A6;
}

.answer-text {
    margin: 3px 0 0 0;
    cursor: default;
    font-size: 1em;
}