@import url("../fontin/fontin.css");

.bg {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #9ADDA4;
    font-family: 'Fontin Sans CR'
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.standard-container {
    border: 1px solid #629669;
    height: auto;
    width: 30%;
    padding: 2%;
    color: #000000;
    background-color: #FFFFFF;
}

.label-center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.label-warning {
    color: red;
}

.text-logo {
    font-size: 300%;
}

.text-copy {
    font-size: 120%;
}

.btn-common {
    background-color: #6EB178;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50% 50%;
    padding: 10px;
    width: 5vw;
    height: 5vw;
    border: solid;
    border-color: #9ADDA4;
}

.btn-login {
    background-image: url(../img/arrow-right.png);
}

.btn-register {
    background-image: url(../img/key.png)
}

.buttons-table {
    width: 100%;
    text-align: center;
}

.question {
    font-size: 100%;
    text-align: center;
}

.answer-box {
    height: 30px;
    margin-bottom: 2px;
}

.answer {
    cursor: default;
    background-color: #629669;
}

.poll-option {
    text-align: center;
    cursor: default;
    color: #000000;
    position: absolute;
    font-size: 1em;
}