@{
    ViewData["Title"] = "Активный опрос";

    var activePoll = (EasyPoll.Models.PollModel)ViewData["ActivePoll"];
    var answers = activePoll.GetAnswers();
    var totalCount = activePoll.GetTotalAnswersCount();

    string percentage(int cnt)
    {
        return $"{(100f * cnt / totalCount).ToString("F1")}%".Replace(',', '.');
    }

    var voted = (bool)ViewData["Voted"];
}

<div class="question">
    @activePoll.Question
</div>
<br>

@{
    for (int i = 0; i < answers.Count; i++)
    {
        var answer = answers[i];
        var barStyle = $"width:{(voted ? @percentage(answer.Count) : "100%")};";
        var answerText = answer.Text;
        if (voted)
        {
            answerText += $" ({percentage(answer.Count)}";
        }
        if ((int)ViewData["Selected"] == i)
        {
            barStyle += "background-color:#FF0000;";
        }

        <div class="answer-box">
            <label class="answer-text">@answerText</label>
            <div class="answer-bar">
                <div class="answer-bar-result" style=@barStyle></div>
            </div>
        </div>
    }
}

<div class="question">Проголосовало: @totalCount</div>
<br>
<div class="btn-container">
    <a class="btn-common" href="Poll/Logout">Выход</a>
</div>