@{
    ViewData["Title"] = "Активный опрос";

    var activePoll = (EasyPoll.Models.PollModel)ViewData["ActivePoll"];
    var answers = activePoll.GetAnswers();
    var totalCount = activePoll.GetTotalAnswersCount();

    string percentage(int cnt)
    {
        return $"{100f * cnt / totalCount}%".Replace(',', '.');
    }
}

<div class="question">
    @activePoll.Question
</div>
<br>

@{
    foreach (var answer in answers)
    {
    <div class="progress answer-box">
        <div class="progress-bar answer" style="width: @percentage(answer.Count)">
        </div>
        <label class="label-center poll-option">@answer.Text</label>
    </div>
    }
}

<div class="question">Проголосовало: @totalCount</div>
<br>
<a class="btn btn-lg btn-primary label-center" href="Poll/Logout">Log out</a>