@{
    ViewData["Title"] = "Активный опрос";
}

<div class="question">
    Текст вопроса Текст вопроса Текст вопроса Текст вопроса Текст вопроса Текст вопроса Текст вопроса Текст вопроса Текст вопроса
</div>
<br>
<div class="progress answer-box">
    <div class="progress-bar answer" style="width: 70%">
        Вариант 1
    </div>
</div>
<div class="progress answer-box">
    <div class="progress-bar answer" style="width: 70%">
        Вариант 2
    </div>
</div>
<div class="progress answer-box">
    <div class="progress-bar answer" style="width: 70%">
        Вариант 3
    </div>
</div>
<div class="progress answer-box">
    <div class="progress-bar answer" style="width: 70%">
        Вариант 4
    </div>
</div>
<div class="question">Проголосовало: 123</div>
<br>
<a class="btn btn-lg btn-primary label-center" href="Home/Logout">Log out</a>