@{ ViewData["Title"] = "Добавление опроса"; }

<div id="content"></div>
<script src="~/js/media.js"></script>
<script src="~/js/Edit/logic.js"></script>
<script src="~/js/Edit/contentConstructor.js"></script>