@{ ViewData["Title"] = "Детализация"; }

<label class="question" style="font-size: 150%; width: 100%">Вопрос</label>
<div id="question" class="question">
    <label>Загрузка...</label>
</div>
<hr>
<label class="question" style="font-size: 150%; width: 100%">Результаты</label>
<br>
<select id="deptSelect" class="login-form-input">
    <option value="all" selected>Все подразделения</option>
</select>
<br>
<div id="answers">
    <label>Загрузка...</label>
</div>
<br>
<div class="btn-container">
    <div id="btn-next" class="btn-common" style="display:none" onclick="nextQuestion()">
        <label class="btn-text">Следующий вопрос</label>
    </div>
    <div id="btn-prev" class="btn-common" style="display:none" onclick="prevQuestion()">
        <label class="btn-text">Предыдущий вопрос</label>
    </div>
    <div id="btn-finish" class="btn-common" style="display:none" onclick="sendPoll()">
        <label class="btn-text">Завершить опрос</label>
    </div>
</div>
<hr>
<label class="question" style="font-size: 150%; width: 100%">Участники опроса</label>
<br>
<div id="counts"></div>
<hr>
<label class="question">Самое активное подразделение: <b id="mostActiveDept">...</b></label>
<hr>
<div class="btn-container">
    <div class="btn-common" onclick="location.href='@Url.Action("ShowAll", "Poll")'">
        <label class="btn-text">Назад</label>
    </div>
</div>

<script src="~/js/media.js"></script>
<script src="~/js/ActivePoll/viewResults.js"></script>
<script src="~/js/ActivePoll/common.js"></script>
<script>init(@((int)ViewData["pollId"]))</script>
<script src="~/js/Details/filler.js"></script>