@{ ViewData["Title"] = "Детализация"; }

<label class="question" style="font-size: 150%; width: 100%">Вопрос</label>
<div class="question">
    Как дела?
</div>
<hr>
<label class="question" style="font-size: 150%; width: 100%">Участники опроса</label>
<br>
<label class="question">Всего участников:</label><label class="question" style="margin-left: 5px; font-weight: bold">8</label>
<br>
<label class="question">Подразделение 1:</label><label class="question" style="margin-left: 5px; font-weight: bold">1</label>
<br>
<label class="question">Подразделение 2:</label><label class="question" style="margin-left: 5px; font-weight: bold">3</label>
<br>
<label class="question">Подразделение 3:</label><label class="question" style="margin-left: 5px; font-weight: bold">4</label>
<hr>
<label class="question">Самое активное подразделение:</label><label class="question" style="margin-left: 5px; font-weight: bold">Подразделение 1</label>
<hr>
<label class="question" style="font-size: 150%; width: 100%">Результаты</label>
<br>
<select>
    <option selected>Все подразделения</option>
    <option>Подразделение 1</option>
    <option>Подразделение 2</option>
    <option>Подразделение 3</option>
</select>
<br>
<div class="answer-box">
    <label class="answer-text">1. </label>
    <label class="answer-text">Нормас (33.3%)</label>
    <div class="answer-bar" style="">
        <div class="answer-bar-result" style="width:33.3%;"></div>
    </div>
</div>
<div class="answer-box">
    <label class="answer-text">2. </label>
    <label class="answer-text">Такое (16.7%)</label>
    <div class="answer-bar" style="">
        <div class="answer-bar-result" style="width:16.7%;"></div>
    </div>
</div>
<div class="answer-box">
    <label class="answer-text">3. </label>
    <label class="answer-text">А почему вы спрашиваете? (16.7%)</label>
    <div class="answer-bar" style="">
        <div class="answer-bar-result" style="width:16.7%;background-color: #FF0000;"></div>
    </div>
</div>
<div class="answer-box">
    <label class="answer-text">4. </label>
    <label class="answer-text">Не знаю (33.3%)</label>
    <div class="answer-bar" style="">
        <div class="answer-bar-result" style="width:33.3%;"></div>
    </div>
</div>