@{ ViewData["Title"] = "Управление опросом"; }

<div id="content"></div>
<script src="~/js/media.js"></script>
<script src="~/js/Edit/logic.js"></script>
<script src="~/js/Edit/contentConstructor.js"></script>
<script src="~/js/Edit/filler.js"></script>