@{ ViewData["Title"] = "Список опросов"; }

<div id="polllist" class="poll-list"></div>
<hr>
<div class="btn-container">
    <div class="btn-common" onclick="location.href='@Url.Action("ControlPanel", "Settings")'">
        <label class="btn-text">Назад</label>
    </div>
</div>
<script src="~/js/ShowAll/ListOfPoll.js"></script>
<script>
    DisplayPolls(@Html.Raw(Json.Serialize(ViewData["PollsArray"])), @(((bool)ViewData["LastIsActive"]).ToString().ToLower()));
</script>